@charset "UTF-8";
.header, .main, .footer, .header_nav, .header_topic, .nav, .banner, .selecte, .brand, .tab, .trends, .fame, .discount, .category, .newarrival, .recommended, .activity, .footer_help, .footer_copyright {
  width: 100%;
}

.header_nav .nav_inner, .header_topic .topic_inner, .header_logo, .nav .nav_inner, .selecte .selecte_inner, .brand .brand_inner, .trends .trends_inner, .fame .fame_inner, .discount .discount_inner, .category .category_inner, .newarrival .new_title, .newarrival .new_con, .recommended .recom_inner, .activity .active_inner, .footer_help .help_inner, .footer_copyright .copy_inner {
  width: 1200px;
  margin: 0 auto;
}

.tab .tab_btn, .tab .tab_con {
  width: 1250px;
  margin: 0 auto;
}

.trends .trends_inner .left, .trends .trends_inner .right {
  width: 66px;
  height: 77px;
  background: #eee;
  position: absolute;
  top: 235px;
  margin: auto;
  z-index: 999;
}

.newarrival .new_con .prev, .newarrival .new_con .next {
  position: absolute;
  font-size: 127px;
  font-family: simsun;
  top: 290px;
  cursor: pointer;
  color: #000;
  opacity: 0.3;
  display: block;
  z-index: 10;
}

.header {
  height: 245px;
}

.main {
  overflow: hidden;
  background-color: #fff;
}

.footer {
  height: 400px;
  background-color: #fff;
}

.header_nav {
  height: 35px;
  background-color: #222;
}
.header_nav .nav_inner .inner_left {
  width: 301px;
  height: 26px;
  float: left;
  background: url(http://i0.mbscss.com/img/moonbasa/2018/ydw/M4_25_114110.jpg) no-repeat -22px top;
}
.header_nav .nav_inner .inner_right {
  width: 456px;
  height: 26px;
  float: right;
  font-size: 12px;
  color: #fff;
  padding-top: 10px;
  position: relative;
}
.header_nav .nav_inner .inner_right a {
  display: inline-block;
  padding: 0 8px;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.header_nav .nav_inner .inner_right a img {
  position: absolute;
  left: -70px;
  top: 20px;
  display: none;
}
.header_nav .nav_inner .inner_right .phone {
  padding-left: 14px;
  background: url(http://i3.mbscss.com/img/moonbasa/2015/04/lyz/0831205002.jpg) no-repeat;
}
.header_nav .nav_inner .inner_right .cart {
  background: url(http://i1.mbscss.com/img/moonbasa/2018/ydw/M4_26_101323.png) no-repeat 50px -7px;
  width: 50px;
  height: 20px;
}
.header_nav .nav_inner .inner_right .weixing img {
  left: -120px;
}
.header_nav .nav_inner .inner_right .cart_none {
  width: 358px;
  height: 20px;
  border: solid 1px #f2f2f2;
  background-color: #FFF;
  position: absolute;
  right: 17px;
  top: 27px;
  padding: 40px 0;
  color: #000;
  text-align: center;
}
.header_nav .nav_inner .inner_right .my {
  width: 275px;
  height: 34px;
  line-height: 34px;
  background: #222;
  position: absolute;
  top: 0;
  left: -190px;
}
.header_nav .nav_inner .inner_right .my span {
  float: left;
}
.header_nav .nav_inner .inner_right .my .cusname {
  float: left;
}
.header_nav .nav_inner .inner_right .my .mymbs {
  float: left;
}
.header_nav .nav_inner .inner_right .my .mymbs ul li {
  line-height: 22px;
}
.header_nav .nav_inner .inner_right .my .mymbs ul li a {
  color: #747474;
}
.header_nav .nav_inner .inner_right .my .mymbs ul li a:hover {
  text-decoration: underline;
  color: #e50065;
}
.header_nav .nav_inner .inner_right .my .tuichu {
  float: left;
}

.header_topic {
  height: 48px;
  background-color: #f6f6f6;
}
.header_topic .topic_inner {
  text-align: center;
  overflow: hidden;
}
.header_topic .topic_inner a {
  float: left;
  display: block;
}
.header_topic .topic_inner a img {
  width: 240px;
  height: 48px;
  border: 0;
}

.header_logo {
  height: 103px;
  background-color: #fff;
  padding: 10px 0 16px;
  margin-top: 10px;
}
.header_logo .logo_left {
  float: left;
  width: 320px;
}
.header_logo .logo_left a {
  background: transparent url(http://i1.mbscss.com/img/moonbasa/2018/ydw/M6_26_100916.jpg) no-repeat scroll center !important;
  display: block;
  height: 129px;
  width: 320px;
  margin-top: -10px;
}
.header_logo .search {
  width: 500px;
  float: left;
  padding: 20px 0 0 55px;
}
.header_logo .search .search_input {
  width: 540px;
  height: 35px;
  background: url(http://i3.mbscss.com/img/moonbasa/2015/09/bon/ssbg.jpg) no-repeat;
}
.header_logo .search .search_input .inp input {
  width: 440px;
  height: 29px;
  padding-left: 5px;
  line-height: 30px;
  margin: 2px 4px 0 4px;
  color: #b9b9b9;
  text-indent: 7px;
  border: none;
}
.header_logo .search .search_input .sub input {
  width: 80px;
  height: 30px;
  text-indent: -200px;
  background: 0;
  border: 0;
}
.header_logo .search .key {
  color: #9c9d9f;
  padding: 5px;
  font-size: 12px;
}
.header_logo .search .key a {
  color: #9c9d9f;
  text-decoration: none;
  padding: 0 3px;
}
.header_logo .logo_right {
  float: right;
}

.nav {
  height: 44px;
}
.nav .nav_inner {
  position: relative;
}
.nav .nav_inner .nav_list {
  margin-left: 262px;
}
.nav .nav_inner .nav_list li {
  list-style-type: none;
  float: left;
  margin-right: 32px;
}
.nav .nav_inner .nav_list li a {
  color: #727272;
  text-decoration: none;
  font-family: 微软雅黑;
  font-size: 14px;
  float: left;
  line-height: 34px;
  border-bottom: 2px solid transparent;
}
.nav .nav_inner .nav_list li a:hover {
  color: #e60063;
}
.nav .nav_inner .nav_con {
  position: absolute;
  left: 0;
  z-index: 20;
  top: 0px;
}
.nav .nav_inner .nav_con ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 190px;
  line-height: 20px;
  background: #fff;
  padding-bottom: 7px;
  height: 467px;
  position: relative;
}
.nav .nav_inner .nav_con ul li {
  padding: 0 16px 0 35px;
}
.nav .nav_inner .nav_con ul li .haveborder {
  border-right: 1px solid #f3f3f3;
}
.nav .nav_inner .nav_con ul .li0 {
  height: 43px;
  border-bottom: 1px solid #4e4e4e;
  background: #626262;
}
.nav .nav_inner .licon {
  padding: 7px 0;
  border-bottom: 1px solid #f3f3f3;
}
.nav .nav_inner .licon h3 {
  font-size: 20px;
  font-family: microsoft yahei;
  padding: 0;
  font-weight: bold;
  margin: 0 0 6px;
}
.nav .nav_inner .licon h3 a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
}
.nav .nav_inner .licon h4 a {
  text-decoration: none;
  font-family: simsun;
  color: #8c8c8c;
  font-size: 12px;
  white-space: nowrap;
  width: 38%;
  display: inline-block;
  line-height: 16px;
  padding: 0 1% 0 6%;
  font-weight: 400;
}
.nav .nav_inner .second {
  width: 570px;
  height: 100%;
  position: absolute;
  top: 44px;
  left: 190px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  display: none;
  padding-left: 30px;
  line-height: 15px;
  height: 420px;
}
.nav .nav_inner .second dl {
  padding: 10px 0 5px;
  width: 50%;
  float: left;
}
.nav .nav_inner .second dl dt {
  width: 90%;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 8px;
  color: #000;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 10px;
}
.nav .nav_inner .second dl dt a {
  text-decoration: none;
  color: #000;
}
.nav .nav_inner .second dl dd {
  width: 90%;
  height: 106px;
}
.nav .nav_inner .second dl dd a {
  text-decoration: none;
  margin-right: 13px;
  font-family: simsun;
  float: left;
  color: #8d8d8d;
  font-size: 12px;
  white-space: nowrap;
  width: 66px;
  line-height: 17px;
  margin-bottom: 4px;
}

.banner {
  height: 430px;
  position: relative;
}
.banner .pic {
  position: relative;
}
.banner .pic .show {
  display: block;
}
.banner .pic li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: none;
}
.banner .pic li div {
  height: 430px;
}
.banner .pic li .pic1 {
  background: url(http://i1.mbscss.com/img/moonbasa/2018/zf/M11_16_112402.jpg) no-repeat center top;
}
.banner .pic li .pic2 {
  background: url(http://i3.mbscss.com/img/moonbasa/2018/zf/M11_16_112037.jpg) no-repeat center top;
}
.banner .pic li .pic3 {
  background: url(http://i0.mbscss.com/img/moonbasa/2018/zf/M11_16_112036.jpg) no-repeat center top;
}
.banner .pic li .pic4 {
  background: url(http://i3.mbscss.com/img/moonbasa/2018/zf/M11_16_100621.jpg?a) no-repeat center top;
}
.banner .pic li .pic5 {
  background: url(http://i2.mbscss.com/img/moonbasa/2018/ydw/M11_16_134959.jpg) no-repeat center top;
}
.banner .pic li .pic6 {
  background: url(http://i4.mbscss.com/img/moonbasa/2018/zf/M11_8_163313.jpg) no-repeat center top;
}
.banner .pic li .pic7 {
  background: url(http://i6.mbscss.com/img/moonbasa/2018/zf/M11_16_100518.jpg?a) no-repeat center top;
}
.banner .pic li .pic8 {
  background: url(http://i3.mbscss.com/img/moonbasa/2018/zf/M11_16_100621.jpg?a) no-repeat center top;
}
.banner .pic li .pic9 {
  background: url(http://i0.mbscss.com/img/moonbasa/2018/ydw/M4_23_221431.jpg) no-repeat center top;
}
.banner .pic li .pic10 {
  background: url(http://i5.mbscss.com/img/moonbasa/2018/zf/M11_13_134434.png) no-repeat center top;
}
.banner .pic li .pic11 {
  background: url(http://i2.mbscss.com/img/moonbasa/2018/zf/M7_5_180649.jpg?a) no-repeat center top;
}
.banner .pic li .pic12 {
  background: url(http://i7.mbscss.com/img/moonbasa/2018/zf/M11_8_163315.jpg?a) no-repeat center top;
}
.banner .btn {
  width: 291px;
  height: 13px;
  position: absolute;
  right: 50px;
  bottom: 30px;
}
.banner .btn span {
  float: left;
  background-color: #000;
  width: 13px;
  height: 13px;
  margin-left: 10px;
  border-radius: 13px;
}
.banner .btn .active {
  background-color: #fff;
}

.selecte {
  height: 2028px;
}
.selecte .selecte_inner img {
  display: inline;
  float: left;
}

.brand {
  height: 2964px;
  background: url(http://i4.mbscss.com/img/moonbasa/2018/zyc/M5_21_101016_01.jpg) #fff no-repeat top center;
}
.brand .brand_inner img {
  float: left;
}

.tab {
  height: 730px;
}
.tab .tab_btn img {
  float: left;
}
.tab .tab_con {
  position: relative;
}
.tab .tab_con div {
  position: absolute;
  top: 117px;
  left: 0;
}
.tab .tab_con div img {
  float: left;
}

.trends {
  height: 741px;
}
.trends .trends_inner {
  position: relative;
}
.trends .trends_inner .tit {
  width: 1200px;
  float: left;
}
.trends .trends_inner .left {
  left: 20px;
}
.trends .trends_inner .right {
  right: 20px;
}
.trends .trends_inner .wrap {
  width: 1200px;
  height: 558px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.trends .trends_inner .wrap .box {
  height: 442px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  left: -400px;
  top: 0px;
}
.trends .trends_inner .wrap .box img {
  float: left;
  margin-left: 11px;
}

.fame {
  height: 652px;
}

.discount {
  height: 802px;
}

.category {
  height: 785px;
}
.category .category_inner img {
  float: left;
}

.newarrival {
  height: 944px;
}
.newarrival .new_title {
  height: 199px;
}
.newarrival .new_title img {
  float: left;
}
.newarrival .new_con {
  overflow: hidden;
  position: relative;
  height: 745px;
}
.newarrival .new_con ul {
  height: 745px;
  position: absolute;
  top: 0;
  left: 0;
}
.newarrival .new_con ul li {
  width: 1200px;
  height: 745px;
  float: left;
}
.newarrival .new_con .prev {
  left: 0px;
}
.newarrival .new_con .next {
  right: 0px;
}

.recommended {
  height: 700px;
}
.recommended .recom_inner .img {
  float: left;
}
.recommended .recom_inner .recom_con dl {
  float: left;
  background: #fff;
  margin: 0 12px 30px 0;
  position: relative;
  width: 225px;
}
.recommended .recom_inner .recom_con dl dt img {
  width: 100%;
}
.recommended .recom_inner .recom_con dl dd {
  padding-left: 10px;
  margin-top: 14px;
}
.recommended .recom_inner .recom_con dl dd a {
  text-decoration: none;
  color: #494949;
  font-size: 12px;
}
.recommended .recom_inner .recom_con dl dd a .title {
  text-align: center;
  float: left;
  font-size: 14px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #6f6f6f;
}
.recommended .recom_inner .recom_con dl dd a .price {
  color: red;
  font-size: 20px;
  text-align: center;
  margin-left: 45px;
  margin-top: 3px;
}
.recommended .recom_inner .recom_con dl dd a .price .del {
  padding-left: 5px;
  width: 40px;
  color: #808080;
  font-size: 12px;
}

.activity {
  height: 630px;
  background-color: #f7f7f7;
}
.activity .active_inner .act_con li {
  float: left;
  width: 384px;
  height: 213px;
  border: solid 1px #e3e1e2;
  margin-right: 14px;
  margin-top: 15px;
  background: #FFF;
}
.activity .active_inner .act_con li a {
  text-decoration: none;
  font-size: 12px;
}
.activity .active_inner .act_con li a img {
  width: 384px;
  height: 181px;
  border-bottom: solid 1px #e3e1e2;
  float: left;
}
.activity .active_inner .act_con li a span {
  float: left;
  font-size: 14px;
  line-height: 31px;
  padding-left: 15px;
  color: #000000;
}

.footer_help {
  height: 145px;
  background: #ececec;
  padding: 5px 0 10px 0;
}
.footer_help .help_inner ul {
  float: left;
  padding: 10px 32px 0 32px;
}
.footer_help .help_inner ul li {
  list-style: none;
  line-height: 20px;
}
.footer_help .help_inner ul li a {
  text-decoration: none;
  color: #7f7f7f;
  font-size: 12px;
}
.footer_help .help_inner ul li font {
  font-size: 12px;
  color: #7f7f7f;
  line-height: 16px;
}
.footer_help .help_inner ul .lititle a {
  color: #2f2f2f;
  font-weight: 600;
}

.footer_info {
  width: 670px;
  height: 39px;
  margin: 15px auto 0;
}
.footer_info img {
  float: left;
  padding: 0 16px;
  border-right: 1px solid #d9d9d9;
}

.footer_copyright {
  height: 49px;
  margin-top: 40px;
  padding-bottom: 20px;
}
.footer_copyright .copy_inner {
  position: relative;
}
.footer_copyright .copy_inner p {
  text-align: center;
  font-size: 12px;
  color: #797979;
  line-height: 22px;
}
.footer_copyright .copy_inner p a {
  text-decoration: none;
  color: #797979;
}
.footer_copyright .copy_inner p a:hover {
  color: #e60067;
}
.footer_copyright .copy_inner .qxpp {
  width: 465px;
  border: solid 1px #CCC;
  background: #f2f2f2;
  color: #565656;
  line-height: 22px;
  position: absolute;
  left: 375px;
  top: 20px;
  text-align: left;
  padding: 5px 10px 5px 10px;
  display: none;
  font-size: 12px;
}
.footer_copyright .copy_inner .qxpp a {
  text-decoration: none;
  color: #797979;
  padding: 0 5px 0 5px;
  display: block;
  float: left;
}

.footer_logo {
  width: 720px;
  height: 33px;
  margin: 0 auto;
}
.footer_logo img {
  float: left;
  width: 86px;
  height: 33px;
  margin: 0 5px;
}
.footer_logo .up {
  width: 38px;
  height: 33px;
}

.side {
  height: 100%;
  top: 0;
  right: 0;
  z-index: 999;
  width: 36px;
  background: #000;
  position: fixed;
}
.side .side_main {
  height: 400px;
  position: absolute;
  top: 15%;
}
.side .side_main .licon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
}
.side .side_main .licon:hover {
  background-color: #c10055;
}
.side .side_main .side_cart {
  padding: 8px 0;
  width: 36px;
  height: 107px;
  border-top: 1px solid #3E3E3E;
  border-bottom: 1px solid #3E3E3E;
  cursor: pointer;
  margin: 10px 0;
}
.side .side_main .side_cart .cart-icon {
  width: 34px;
  height: 21px;
  background: url(http://i2.mbscss.com/img/moonbasa2/20151209/nitemf_05.png) no-repeat center;
}
.side .side_main .side_cart .cart-font {
  margin: 6px 0;
  padding: 0 12px;
  width: 10px;
  height: 48px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
.side .side_main .side_cart .cart-ring {
  width: 36px;
  height: 22px;
  background: url(http://i2.mbscss.com/img/moonbasa2/20151209/red_ring.png) no-repeat center;
}
.side .side_main .side_cart .cart-ring p {
  color: #fff;
  text-align: center;
  line-height: 22px;
  font-size: 12px;
}
.side .side_main .side_top:hover {
  background-color: #000;
}
.side .side_main .my_kong {
  width: 100%;
  height: 36px;
  background: url(http://i2.mbscss.com/img/moonbasa2/20151209/nitemf_09.png) no-repeat center;
}
.side .side_main .my_con {
  display: none;
  position: absolute;
  right: 36px;
  top: 0;
  width: 274px;
  border: 1px solid #e5e5e5;
  border-right: none;
  background: #fff;
}
.side .side_main .my_con h3 span {
  color: #979797;
  font-size: 20px;
  float: right;
  margin-right: 15px;
  font-weight: 400;
  margin-top: 10px;
}
.side .side_main .my_con .my_con_mid {
  text-align: center;
  margin-top: 40px;
}
.side .side_main .my_con .my_con_mid p {
  font-size: 12px;
  color: #797979;
  margin: 6px 0;
  height: 26px;
}
.side .side_main .my_con .my_con_mid p a {
  text-decoration: none;
  float: left;
  display: block;
  width: 85px;
  height: 24px;
  font-size: 12px;
  font-family: SimSun;
  line-height: 24px;
}
.side .side_main .my_con .my_con_mid p .mylogin {
  margin-right: 20px;
  border: 1px solid #c10055;
  background: #c10055;
  color: #fff;
  margin-left: 40px;
}
.side .side_main .my_con .my_con_mid p .myreg {
  border: 1px solid #c10055;
  background: #fff;
  color: #c10055;
}
.side .side_main .my_con .my_con_mid div {
  width: 274px;
  height: 30px;
  margin-top: 10px;
}
.side .side_main .my_con .my_con_mid div a {
  float: left;
  width: 135px;
  height: 30px;
  background: #F4F4F4;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  color: #797979;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}
.side .side_main .collect-icon {
  width: 100%;
  height: 36px;
  background: url(http://i2.mbscss.com/img/moonbasa2/20151209/nitemf_07.png) no-repeat center;
}
.side .side_main .wechat-icon {
  width: 100%;
  height: 36px;
  background: url(http://i2.mbscss.com/img/moonbasa2/20151209/nitemf_08.png) no-repeat center;
}
.side .side_main .code {
  display: none;
  width: 145px;
  height: 348px;
  background: url(http://i1.mbscss.com/img/moonbasa/2018/lsc/M4_3_174920.png) no-repeat center;
  position: absolute;
  top: -230px;
  right: 32px;
}
.side .side_main .service-icon {
  width: 100%;
  height: 36px;
  background: url(http://i2.mbscss.com/img/moonbasa2/20151209/service_out.png) no-repeat center;
}
.side .side_main .top-icon {
  position: absolute;
  bottom: -180px;
  width: 100%;
  height: 36px;
  background: url(http://i2.mbscss.com/img/moonbasa2/20151209/menu_top.png) no-repeat center;
}

/*# sourceMappingURL=index.css.map */
